.side_bar
 .user
  .user_bar
   %p.uesr_name masa   
   .icon
    .icon_new_group
     %a(href="#")
      %i.fa.fa-edit
    .icon_edit_user
     %a(href="#")
      %i.fa.fa-cog 
    
 .group
  .group_rist
   %a(href="#")
    .group_bar
    %p.group_name pawsed
    %p.group_message メッセージはまだありません

